@font-face {
  font-family: "Agrandir";
  font-style: normal;
  font-weight: 100 900;
  src: url("../fonts/AgrandirVariable.woff2") format("woff2");
}

@font-face {
  font-family: "Telegraf";
  font-style: normal;
  font-weight: 100 900;
  src: url("../fonts/TelegrafVariable.woff2") format("woff2");
}
@tailwind base;
@layer base {
  :root {
    --color-accent: #6d57ff;
    --color-secondary: #8A79FF;
    --color-light: #f6f6f6;
    --color-dark: #000;
    --color-grey: #eee;
  }

  html {
    @apply p-0 m-0 scroll-smooth w-full h-full;
  }

  html body {
    @apply m-0 h-screen w-full bg-light text-black font-telegraf;
  }

  h1, h2, h3, h4 {
    @apply font-agrandir font-bold;
  }
  h1 {
    @apply text-5xl;
  }

  a {
    @apply text-black;
  }

  button {
    @apply font-telegraf font-bold;
  }

}
@tailwind components;
@tailwind utilities;


